body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    padding: 20px 30px;
    font-family: sans-serif;
    border: 2px solid #000;
    background-color: rgb(207, 173, 47);
    transition: all 0.7s;
    overflow: hidden;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 5px 12px #fff;
    width: 120%;
    height: 20px;
    z-index: 100;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.7s;
}

a:hover::before {
    transform: translateX(100%) rotate(45deg);
}